<!-- viewAccount.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Account</title>
        <link rel="stylesheet" href="/style.css">
    </head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/items">View All Items</a>
        </div>
        <div class="nav-right">
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </nav>
    <div class="container">
        <h1>Welcome to My Account</h1>
        <div class="account-info">
            <p><strong>Name:</strong> {{userName}}</p>
        </div>

        <h2>Your Reported Items</h2>
        <div class="items-container">
            {{userItems}}
        </div>
        <div class="option">
            <a class="button" href="/">Home</a>
            <a class="button">Chat!</a>
        </div>
    </div>

</body>
</html>
